:root {
  --descriptions: 0.7;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(260px, 1fr) 7fr;
  grid-template-rows: 1fr 6fr;
  font-family: Courier, monospace;
}

ul,li,h1 {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-top {
  display: grid;
  grid-template-columns: 70% 20%;
  gap: 8%;
  align-items: center;
  padding: 10px 30px 0px 60px;

}

.s-form {
  display: grid;
  grid-template-columns: 1.8rem 1fr;
  align-items: center;
  gap: 10px;
}

.s-bar {
  background-color: rgb(217, 219, 224);
  border: 0;
  border-radius: 20px;
  height: 30px;
  outline: 0;
  padding-left: 10px;
}

.s-bar:hover, .s-bar:focus {
  border: 1.5px solid rgb(105, 110, 121);
}

.tnavr-container {
  display: grid;
  gap: 50px;
  align-items: center;
  grid-template-columns: 1.8rem 2rem 1fr;
  padding-right: 1rem;
}

.tnav-profile {
  width: 3.2rem;
  opacity: 0.8;
}

.tnav-name {
  font-size: 20px;
  font-weight: 600;
}

.nav-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 30px 0px 0px;
  margin: 0.6rem;
}

.bnav-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  padding-left: 3rem;
}

.bnav-profile {
  display: grid;
  width: 6rem;
  opacity: 0.8;
}

.greeting-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding-left: 1.4rem;
}

.bnav-name, .greeting {
  margin: 5px;
  font-weight: 800;
}

.greeting {
  font-size: 16px;
}

.bnav-name {
  font-size: 26px;
}

.btn-wrapper {
  display: grid;
  grid-template-columns: 10rem 10rem auto;
  justify-content: end;
  align-items: center;
  padding-right: 10%;
}

.bnav-button {
  border: 0;
  border-radius: 100px;
  width: 8rem;
  height: 3.4rem;
  background-color: rgb(15, 125, 189);
  
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.bnav-button:hover, .bnav-button:active {
  border: 2px solid rgb(255, 255, 255);
}

.bnav-button:active {
  transform: scale(0.97);
}

.sidebar {
  background-color: rgb(15, 125, 189);
  grid-row: 1/3;
}

.title {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  gap: 10px;
  margin: 20px;
  color: white;
}

.side-item {
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 20px;
  padding: 10px;
  align-items: center;

  font-size: 22px;
  font-weight: 600;
  color: white;
}

.side-icon {
  filter: invert(1);
  -webkit-filter: invert(1);
}

.main-list {
  margin-left: 20px;
  margin-top: 40px;
}

.sec-list {
  margin-left: 20px;
  margin-top: 50px;
}

.content {
  background-color: rgb(237, 240, 245);
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 20px;
  padding: 10px 30px;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: max-content;
  gap: 20px 30px;
}

.card {
  border-left: 8px solid sandybrown;

  display: grid;
  gap: 10px;
  grid-template-rows: max-content 1fr max-content;
}

.card,.news-card {
  background-color: white;
  border-radius: 10px;
  padding: 10px 20px 30px 18px;
  box-shadow: 1px 2px 6px rgb(204, 204, 204);
}

.project-desc{
  opacity: var(--descriptions);
}

.project-controls {
  display: flex;
  justify-content: end;
  gap: 8px;
  padding-right: 18px;
}

.project-icon {
  height: 24px;
}


.news {
  display: grid;
}

.news-card {
  width: 18rem;
  height: 24rem;
}

.news-card.ann{
  display: grid;
  grid-auto-rows: 1fr;
}

.content-title {
  font-size: 20px;
  font-weight: 600;
  margin: 30px 0px 20px 0px;
}

.ann-title {
  margin: 0;
  margin-top: 20px;
}

.ann {
  overflow:hidden;
}

.ann-title {
  font-size: 16px;
}

.ann-text {
  margin: 0;
  font-size: 13px;
  opacity: var(--descriptions);
}

.ann.three, .ann.two {
  margin-top: 20px;
  border-top: 1.4px solid rgb(196, 191, 191);
}

.news-card.trend{
  padding: 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-rows: 1fr;
  gap: 20px;
  align-items: center;
}

.n-user-profile {
  height: 60px;
}

.n-user-handle, .n-user-desc {
  margin: 0;
  margin-bottom: 2px;
}
.n-user-desc {
  font-size: 14px;
  opacity: var(--descriptions);
}